#buzz-controls span {
  height: 120px;
  float: left;
  margin: 15px;
}
#bac-o-meter span {
  height: 36px;
  float: left;
  margin: 15px;
}

span input {
  width: 36px;
}
#bac-o-meter, #buzz-controls, span label {
  display:block;
  clear: both;
}
#weight-container {
  width: 240px;
}
#vital-statistics {
  margin: 30px;
}
#buzz-o-graphic {
  font: 7px Arial;
  height: 500px;
}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.title {
  font: 24px;
}
path.area {
  fill: #e7e7e7;
}
path.area.blue {
  fill: blue;
}
path.area.green {
  fill: green;
}
path.area.orange {
  fill: orange;
}
path.area.red {
  fill: red;
}
path.area.yellow {
  fill: yellow;
}
path.area.black {
  fill: black;
}
div.form-type-select {
}
div.form-type-item {
}
div.control-panel {
  display: inline-block;
  width: 22%;
  margin-right: 2%;
  border: 1px solid;
}
@media screen and (max-width: 700px) {
#drink-controls .control-panel {
width: 30%;
}
}
@media screen and (max-width: 400px) {
#drink-controls .control-panel {
width: 47%;
}
}
@media screen and (max-width: 300px) {
#drink-controls .control-panel {
width: 100%;
margin-right: 0;
}
}
